* {
        font-family: Times;
}

h3, h4 {
        line-height: 40%;
}

p {
        padding-left: 40px;
}


.hovertext {
        position: relative;
        display: inline-block;
}

.hovertext .text {
        visibility:hidden;
        text-align: center;
        border-radius: 6px;
        width: 75px;
        background-color: black;
        color: white;
        position: absolute;
        opacity: 0;
        transition: opacity 2s;
        top: 0;
        left: 105%;
}

.hovertext:hover .text {
        visibility: visible;
        opacity: 1;
}